*{
    box-sizing: border-box;
}

body {
    padding-top: 80px !important;
    padding-bottom: 80px !important;
    background-color: #efefef;
    margin: 0px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    color: #999;
}

.container {
    margin: 0px 125px;
    padding: 0px 20px;
}

.container .left-profile {
    margin-right: 20px;
    background-color: #FFF;
}

.container .right-profile {
    background-color: #FFF;
}

.container .left-profile .avatar {
    width: 278px;
    height: 262px;
    background-image: url('./iu-image.jpg');
    background-position: center;
    background-size: cover;
}

.container .left-profile .contact {
    display: flex;
    flex-direction: row;
    height: 50px;
    justify-content: center;
    align-items: center;
}

.container .left-profile .contact > div > img {
    width: 30px;
    margin-right: 10px;
}

.container .left-profile .copyright {
    display: flex;
    justify-content: center;
    padding-top: 5px;
}

.container .left-profile .footer {
    padding: 20px 0px;
}

.information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.information > h2 {
    font-weight: bold;
    color: #000;
}

.container .right-profile {
    display: block;
}

.main-title {
    border-bottom: 1px solid #efefef;
    padding: 20px 10px 2px 40px;
}

.main-title h1 {
    font-size: 15px;
    color: #333;
    font-family: 'open_sansextrabold',Arial,sans-serif;
    margin-bottom: 10px;
    font-weight: bold;
    text-transform: uppercase;
}

.content {
    padding: 20px 40px;
}

.content .block-content {
    margin-bottom: 30px;
}

.content .block-content .name-content h1 {
    color: #333;
    font-size: 28px;
    line-height: 25px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.content .block-content .name-content h3 {
    font-size: 22px;
    color: #777;
    font-family: 'open_sanslight',Arial,sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.content .block-content .description {
    display: flex;
    flex-direction: row;
}

.content .block-content .description p {
    line-height: 20px;
    align-content: center;
}

.content .block-content .description .left-description {
    padding-right: 30px;
}

.content .table-contact {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.content .table-contact table {
    border: 1px solid #dddddd;
}
